<mat-card>
    <mat-card-title>Car List</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let car of cars">
                <!--<img mat-list-avatar src="{{car.giphyUrl}}" alt="{{car.name}}"> -->
                <h3 mat-line>
                    <a mat-button [routerLink]="['/car-edit', car.id]">{{car.name}}</a>
                </h3>
            </mat-list-item>
        </mat-list>
    </mat-card-content>

    <button mat-fab color="primary" [routerLink]="['/car-add']">Add</button>
</mat-card>

